@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

html{height:  100%;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding: 1rem;
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #009E3F;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #009E3F;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 2rem;
    user-select: none;
    font-weight: bolder;
    color: white;
}

.monito {
    width: 10%;
}

.img{
    height: 500px;
    border-radius: 70px;
    margin:0%;
}

.parrafo2{
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 15px;
}

.parrafo{
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
}

.subtitulo{
    text-decoration: underline;
    text-align: right;
    padding-right: 400px;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 1px;
    
}

.subtitulo2{
    text-decoration: underline;
    text-align: left;
    padding-left: 300px;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 0px;
}

.estructura {
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

.monito{
 height: 70px;
}

.tex{
    display: flex;
}

.textoayuda{
    background-color: #009E3F;
    border-style: solid;
    border-color: black;
    border-width: 7px;
    margin: 100px;
    font-size: 30px;
    color: white;
    
}

.texto {
    background-color: #009E3F;
    border-style: solid;
    border-color: black;
    border-radius: 40px;
    border-width: 7px;
    padding: 30px;
    margin: 100px;
    font-size: 30px;
    color: white;
}

.navbar-icono {
    color: white;
    font-size: 2rem;
    display: none;
}

.navbar-links {
    border-radius: 7%;
    font-size: 1.25rem;
}

.navbar-links:hover {
    background-color: white;
    transition: 0.5s;
}

.navbar-links:hover a {
    color: #009E3F;
    transition: 0.5s;
}

.link {
    color: white;
    font-size: 2rem;
}

@media (max-width: 640px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-icono {
        display: block;
    }
    .navbar-links {
        border-radius: 0%;
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar.active .navbar-links {
        display: block;
    }

    .texto {
        margin: 20px;
        margin-top: 200px;
        margin-bottom: 100px;
        font-size: 1.5rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
    footer p {
        display: none;
    }
    .link {
        display: none;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    background-color: #009E3F;
    color: white;
}

.textoFooter {
    text-align: center;
}

footer img {
    width: 7rem;
    height: auto;
    margin-right: 0.5%;
}

footer p {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-left: 0.5%;
}